repotsar:
  haus:
    url: ssh://git@github.com/SearchSpring/haus.git
    path: {{.Path}}
    branch: {{.Branch}}

docker:
  test:
    build: {{.Path}}/
    ports:
        - "80:80"
    expose:
        - "80"
    dns:
        - 172.17.42.1
        - 8.8.8.8
    volumes:
        - src/:/app/src/
    environment:
        - SERVICE_80_NAME=smc
        - SERVICE_TAG=smc
    net: "bridge"
