repotsar:
  haus:
    url: ssh://git@github.com/SearchSpring/haus.git
    path: {{.Path}}/src/haus
    branch: {{.Branch}}

docker:
  test:
    build: ./src/haus
    ports:
        - "80:80"
    expose:
        - "80"
    dns:
        - 172.17.42.1
        - 8.8.8.8
    volumes:
        - {{.Path}}/src/:/app/src/
    environment:
        - SERVICE_80_NAME=test
        - SERVICE_TAG=test
    net: "bridge"
