repotsar:
  test:
    url: ssh://git@github.com/SearchSpring/docker-elasticsearch
    path: {{.Path}}/src/docker-elasticsearch
    branch: {{.Branch}}
docker:
  test:
    build: ./src/docker-elasticsearch
    ports:
        - "80:80"
    expose:
        - "80"
    dns:
        - 172.17.42.1
        - 8.8.8.8
    environment:
        - SERVICE_80_NAME=test
        - SERVICE_TAG=test
    net: "bridge"
